body {
    background-color: #b1b1b1;
    font-family: tahoma,sans-serif;
    direction: ltr;
    background-image:url(/images/44.jpg);
    background-size: cover; 
    
}

#h3_main{
    color: aliceblue;
    font-size: larger;
    font-weight: bold;

}
 p{
    color: aquamarine;
 }

 
 #git_ok_buttom{
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: aqua;
    border: 2px black;
    
 }

#git_ok_buttom:hover{
    background-color: #3c3c3c;
}

#git_ok_buttom::selection{
    background-color: #b1b1b1;
}